.container-fluid.header {
    background-color: #1B181A;
    height: 60px;
    color: #CD4F4E;
}

.small-logo {
    height: 60px;
}

.img {
    height: 50px;
    margin: 4px 4px;
}

.beta {
    text-decoration: none;
    color: #F45454;
}