.back-btn {
    text-decoration: none;
    color: black;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
}

.names, .text {
    color: white;
}

.card {
    padding-bottom: 10px;
}

.icon {
    width: 5%;
}