* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

.content{
  min-height: 100%;
}

.main {
  padding: 60px 40px;
  overflow: auto;
  padding-bottom: 40px; 
}

.footer {
  background-color: black;
  position: relative;
  margin-top: 25%;
  height: 100px;
  clear: both;
}

